# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg/
/__pycache__/*

# Virtual environments
.venv/
venv/
env/
ENV/
se_venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Flask specific
instance/
*.db
*.sqlite3

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Pyright/Pylance
.pyrightcache/
.mypy_cache/

# dotenv
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

uploads/*
